body {
  overflow: hidden;
}
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-star {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 1;
  background-color: yellow;
}
.child-stars {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  animation: loop 4s infinite linear;
}
@keyframes loop {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  20% {
    transform: translatex(100px) translatey(100px);
  }
  40% {
    transform: translatex(100px) translatey(-100px);
  }
  60% {
    transform: translatex(-100px) translatey(100px);
  }
  80% {
    transform: translatex(-100px) translatey(-100px);
  }
  100% {
    transform: translatex(0px) translatey(0px);
  }
}
